body {
  width: 400px;
}

.product {
  cursor: pointer;
}

.copy {
  border-radius: 10px;
  padding: 10px;
  background-color: #16c1a1;
  cursor: pointer;
  color: white;
  height: 20px;
}

#selectedData {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#result {
  max-height: 1250px; /* Set your desired maximum height */
  overflow: hidden;
  transition: max-height 3s ease-out; /* Adjust the duration and timing function as needed */
}

.copied {
  background-color: #c3e6cb; /* A light green color */
  border: 2px solid #16c1a1; /* A slightly darker green border */
  transition: background-color 0.7s ease; /* Smooth transition effect */
}
